
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{nameList}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>New List</h1>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label floating>List Name</ion-label>
        <ion-input type="text" [ngModel]="nameList" name="nameList"></ion-input>
    </ion-item>

    </ion-card-header>
    <ion-item>
      <ion-label floating>Item: </ion-label>
      <ion-input type="text" [ngModel]="nameItem" name="nameItem"></ion-input>
    </ion-item>

    <button ion-button>Add</button>

    <ion-card-content>

    </ion-card-content>
  </ion-card>


</ion-content>
