
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{list.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>{{list.name}}</h3>

  <ion-card>

    <ion-card-header>
      <ion-item>
        <ion-label floating>List Name</ion-label>
        <ion-input type="text" [(ngModel)]="list.name"></ion-input>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of list.items" (click)="update(item)">
          <ion-icon item-left *ngIf="!item.acomplish" ios="ios-square-outline" md="md-square-outline"></ion-icon>
          <ion-icon item-left *ngIf="item.acomplish" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
          <h2 [class.check]="item.acomplish">{{item.name}}</h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
</ion-card>

<button (click)="deleteList()" ion-button block color="danger">Delete List</button>

</ion-content>
